.header, .body, .footer {
  position: absolute;
  width: 319px;
}

.header {
  top: 0;
  height: 70px;
  padding: 1rem;
}

.body {
  top: 75px;
  bottom: 105px;
  overflow: auto;
  overflow-x: hidden;
}

.footer {
  border-top: inset;
  border-width: 1px;
  border-color: rgb(194, 180, 180);
  bottom: 0;
  height: 100px;
}

